header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 300px;
}

.header {
  display: flex;
  gap: 50px;
}

.position__kindergarten {
  display: flex;
  flex-direction: column;
}

.about__us {
  display: flex;
  flex-direction: column;

  gap: 35px;
}

.about__us p {
  padding-left: 17px;
}

.about__us h2 {
  padding-left: 17px;

  font-size: 20px;
  font-weight: 600;
}

.about__us p span {
  font-weight: 700;
  font-size: 24px;

  color: blue;
}

.logo {
  width: 200px;
}

.number__and__location {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.number__and__location h2 {
  padding: 0;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  border: 1px solid rgba(53, 168, 235, 0.13);
}

.circle__and__text {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;
}


.icon__header {
  width: 30px;
}

/* nav-bar */

.languages {
  display: flex;

  position: absolute;
  right: 20px;
}

nav {

  width: 100%;
}

nav ul {
  display: flex;
  align-items: center;

  position: relative;

  list-style-type: none;

  height: 50px;

  background-color: rgba(0, 255, 34, 0.356);
}

nav ul li a {
  text-decoration: none;
  color: #000;

  font-weight: 700;

  padding: 10px 15px;
}

nav ul li:nth-child(1) {
  padding-left: 15px;
}

nav ul li a:hover {
  background-color: rgb(1, 128, 231);
  color: #fff;

  border-radius: 1000px;
}

.number__and__location {
  list-style-type: none;
}

.number__and__location .translate {
  border: none;
}

/* burger-menu */

.menu-btn {
  margin-top: 50px;

  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.nav li a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

.menu-btn {
  position: absolute;
}

.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222222;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #FFEFBA;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.language {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
}

.translate {
  padding: 0;
  margin: 0;

  border: 0;

  outline: none;
  background-color: transparent;
}

.menu.active {
  transform: translateX(0);
}

.menu li {
  list-style-type: none;
}


.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}